@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Joke Guru</h1>
    <p>Have fun with the jokes I bring for myself in all forms and ways.</p>
</div>
